{% extends 'app/base.html' %}
{% load static %}
{% block title %}CART{% endblock title %}
{% block main-content %}

 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table aa-wishlist-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Image</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in place_order %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.pid.products_name}}</td>
                        <td>{{i.pid.products_price}}</td>
                        <td>{{i.qty}}</td>
                        <td><img src="/media/{{i.pid.products_Image}}" alt="" height="300px" widget="500px"></td>
                      </tr>  
                      {% endfor %}
                    </tbody>
                  </table>
                  Total Amount :- {{total_amount}}
                </div>
             </form>             
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
 {% endblock main-content %}
