{% extends 'app/base.html' %}
{% load static %}
{% block title %}ACCOUNT{% endblock title %}
{% block main-content %}
<section id="aa-catg-head-banner">
    
    <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Account Page</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>                   
          
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
            
              <div class="col-md-12">
                {% if msg %}
                  {{msg}}
                {% endif %}
                <div class="aa-myaccount-register">                 
                 <h4>Email Verificashio </h4>
                 <form action="{% url 'verifi' %}" method="post" class="aa-login-form">
                  {% csrf_token %}
                    <label for="">Code<span>*</span></label>
                    <input type="text" placeholder="Please Enter Code from Email..." name="code">
                    <button type="submit" class="aa-browse-btn">Verificashion</button>                    
                  </form>
                </div>
              </div>
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock main-content %}